head
    title !{bloghome.getText("bloghome.headline")}
    link(rel="stylesheet", href="/stylesheets/reset.css")
    link(rel="stylesheet", href="/stylesheets/common.css")
    link(rel="stylesheet", href="/stylesheets/blog.css")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script(src="/javascript/vendors/jquery-1.11.2.min.js")
body.page
    div.main
    - var image = bloghome.getImage('bloghome.image')
    - var maybeBloghomeImageUrl = image? image.getView("main").url : ''
    - var illustrationUrl = maybeBloghomeImageUrl ? maybeBloghomeImageUrl : ''

    div.blog-header.home(style='background-image: url(' + illustrationUrl + ');')
        div.wrapper
            h1.blog-title !{bloghome.getText('bloghome.headline')}
            p.lead.blog-description !{bloghome.getText('bloghome.description')}
    div.container.blog-main
        for post in posts
            - var slices = post.getSliceZone('post.body').slices
            div.blog-post
                h2.blog-post-title
                    a(href=ctx.linkResolver(post))
                        !{post.getText('post.title')}
                p.blog-post-meta
                    a.created-at !{general.getDate(post)}
                //- display first valid slice text and limit it respecting the end of words.
                - var firstParagraphInPost = general.firstStructuredTextsFromSlices(slices).getFirstParagraph().text
                - var textLimit = 300
                - var limitedText = firstParagraphInPost.substr(0, textLimit)
                !{firstParagraphInPost.length > textLimit ? limitedText.substr(0, limitedText.lastIndexOf(' ')) + '...' : firstParagraphInPost }
