extends ./layout.pug

block title
  title !{PrismicDOM.RichText.asText(bloghome.data.headline)}

block body
  body.page
    div.home
      div.blog-avatar(style='background-image: url(' + bloghome.data.image.url + ');')
      h1.blog-title !{PrismicDOM.RichText.asText(bloghome.data.headline)}
      p.blog-description !{PrismicDOM.RichText.asText(bloghome.data.description)}
    div.blog-main
      for post in posts
        div.blog-post(data-wio-id=post.id)
          h2
            a(href=ctx.linkResolver(post))
              != PrismicDOM.RichText.asText(post.data.title) 
          p.blog-post-meta
            - var date = UIhelpers.getDate(post)
            span.created-at !{date}
          //- display first valid slice text and limit it respecting the end of words.
          - var firstParagraph = UIhelpers.getFirstParagraph(post)
          - var textLimit = 300
          - var limitedText = firstParagraph.substr(0, textLimit)
          if firstParagraph.length > textLimit
            = limitedText.substr(0, limitedText.lastIndexOf(' ')) + '...'
          else
            = firstParagraph
