extends ./layout.jade

block title
    title !{post.getText('post.title')}
block body
    body
        div.main
            div.blog-content
            for slice in post.getSliceZone('post.body').slices
                //- Render the right markup for a given slice type.
                case slice.sliceType
                    when 'text'
                        div.post-part.single.col-1
                            div !{slice.value.asHtml()}
                    when 'quote'
                        div.post-part.single.col-1
                            span.block-quotation !{slice.value.asText()}
                    when 'image-with-caption'
                        - var imageWithCaption = slice.value.toArray()[0]
                        case slice.label
                            when 'image-full-width'
                                div.blog-header.single(style='background-image: url(' + imageWithCaption.getImage('illustration').url + ');')
                                    div.wrapper
                                        h1 !{imageWithCaption.get('caption').asText()}
                                        p.meta
                                            span.date !{general.getDate(post)}
                                            
                            default
                                div.post-part.single.col-1
                                    p.block-img
                                        img(src=imageWithCaption.getImage('illustration').url)
                                    p
                                        span.image-label !{imageWithCaption.get('caption').asText()}